statemachine/health-integration-garmin-stepfunction-s6.asl.json
{
  "StartAt": "Handle Garmin Webhook",
  "States": {
    "Handle Garmin Webhook": {
      "Type": "Task",
      "Resource": "${HandleGarminWebhookFunctionArn}",
      "Next": "Check Webhook Type",
      "Parameters": {
        "result.$": "$.body"
      },
      "ResultSelector": {
        "result.$": "States.StringToJson($.body)"
      }
    },
    "Fetch Garmin Fit File": {
      "Type": "Task",
      "Resource": "${FetchGarminFitFileFunctionArn}",
      "Next": "Save Garmin Webhook - Landing Zone + Process Dailies + Save",
      "TimeoutSeconds": 60,
      "ResultSelector": {
        "result.$": "States.StringToJson($.body)"
      }
    },
    "Check Webhook Type": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.result.type",
          "StringEquals": "activityFiles",
          "Next": "Fetch Garmin Fit File"
        }
      ],
      "Default": "Save Garmin Webhook - Landing Zone + Process Dailies + Save"
    },
    "Save Garmin Webhook - Landing Zone + Process Dailies + Save": {
      "Type": "Task",
      "Resource": "${GarminWebhookLandingZoneFunctionProcessDailiesSaveProcessedArn}",
      "TimeoutSeconds": 60,
      "ResultSelector": {
        "result.$": "States.StringToJson($.body)"
      },
      "End": true
    }
  }
}