statemachine/health-integration-garmin-stepfunction-s5.asl.json
{
  "StartAt": "Handle Garmin Webhook",
  "States": {
    "Handle Garmin Webhook": {
      "Type": "Task",
      "Resource": "${HandleGarminWebhookFunctionArn}",
      "Next": "Check Webhook Type",
      "Parameters": {
        "result.$": "$.body"
      },
      "ResultSelector": {
        "result.$": "States.StringToJson($.body)"
      }
    },
    "Fetch Garmin Fit File": {
      "Type": "Task",
      "Resource": "${FetchGarminFitFileFunctionArn}",
      "Next": "Save Garmin Webhook - Landing Zone",
      "TimeoutSeconds": 60,
      "ResultSelector": {
        "result.$": "States.StringToJson($.body)"
      }
    },
    "Check Webhook Type": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.result.type",
          "StringEquals": "activityFiles",
          "Next": "Fetch Garmin Fit File"
        }
      ],
      "Default": "Save Garmin Webhook - Landing Zone"
    },
    "Save Garmin Webhook - Landing Zone": {
      "Type": "Task",
      "Resource": "${GarminWebhookLandingZoneFunctionArn}",
      "TimeoutSeconds": 60,
      "ResultSelector": {
        "result.$": "States.StringToJson($.body)"
      },
      "Next": "Process Dailies + Save Garmin Processed Data"
    },
    "Process Dailies + Save Garmin Processed Data": {
      "Type": "Task",
      "Resource": "${ProcessDailiesSaveGarminWebhookProcessedFunctionArn}",
      "TimeoutSeconds": 60,
      "ResultSelector": {
        "result.$": "States.StringToJson($.body)"
      },
      "End": true
    }
  }
}